{% extends 'base.html.twig' %}

{% block title %}Espace Admin{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h2 class="text-danger text-center">Interface d'administration</h2>
        <p class="text-center">Bienvenue dans l'espace administrateur.</p>
    </div>
{% endblock %}
